__pycache__
.pytest_cache
*.swp
*~
.cache
.ipynb_checkpoints
.DS_Store
tex2pdf*
.mypy_cache
.log
.coverage
.idea
.vscode
src/02_crowsnest/crowsnest.py
src/03_picnic/picnic.py
src/04_jump_the_five/jump.py
src/05_howler/howler.py
src/06_wc/wc.py
src/07_gashlycrumb/gashlycrumb.py
src/08_apples_and_bananas/apples.py
src/09_abuse/abuse.py
src/10_telephone/telephone.py
src/11_bottles_of_beer/bottles.py
src/12_ransom/ransom.py
src/13_twelve_days/twelve_days.py
src/14_rhymer/rhymer.py
src/15_kentucky_friar/friar.py
src/16_scrambler/scrambler.py
src/17_mad_libs/mad.py
src/18_gematria/gematria.py
src/19_wod/wod.py
src/20_password/password.py
src/21_tictactoe/tictactoe.py
